body {
    background-color: #fefae0;
}

.mainDisplay {
    min-width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #283618;
    border-radius: 10px;
}

.mainDisplay h1 {
    margin: 7px;
    height: 75%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a3b18a;
    border-radius: 5px;
    position: sticky;
}

.mainButtons {
    width: 200px;
    height: 300px;
    min-height: 300px;
    min-width: 200px;
    margin-top: 10px;
    padding: 7px;
    background-color: #283618;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    resize: both;
    overflow: auto;
    font-size: small;
}

.mainButtons button {
    display: flex;
    flex-direction: column;
}

.mainButtons button p {
    margin: 0px;
    font-size: 0.5em;
}

.mainButtons button {
    height: 25%;
    width: 100%;
    font-size: 2em;
    background-color: #a3b18a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondLayer {
    display: flex;
    align-items: center;
}

.expBar {
    position: relative;
    height: 30px;
    width: 100%;
    background-color: #ccc;
    border-radius: 15px;
    margin: 20px;
    border: 3px solid #283618;
}

#expFill {
    position: absolute;
    height: 100%;
    width: 0;
    background-color: #a3b18a;
    border-radius: 13px;
    transition: width 0.2s ease-in-out;
}

.expInfo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
}

#level,
#expNeeded {
    margin: 10px;
}

.skillTree {
    margin-top: 10px;
    width: 400px;
    height: 600px;
    background-color: #283618;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 3px;
}

#manualSkills,
#autoSkills,
#fightSkills,
#extraSkills {
    width: calc(50% - 15px);
    background-color: #a3b18a;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 7px;
    box-sizing: border-box;
    border-radius: 5px;
}

.skills button {
    margin: 5px;
    width: 50px;
    height: 40px;
    background-color: #fefae0;
    border-radius: 5px;
    position: relative;
}

#skill1 {
    width: 75%;
}

#skill2,
#skill3,
#skill4,
#skill5 {
    width: 35%;
}